<<<<<<< HEAD
/**
 * This file contains styles related to symphonyAffix jQuery plugin
 *
 * @since Symphony 2.5
 */

.js-affix-scroll {
	position: fixed !important;
	top: 1rem;
}
=======
/**
 * This file contains styles related to symphonyAffix jQuery plugin
 *
 * @since Symphony 2.5
 */

.js-affix-scroll {
	position: fixed !important;
	top: 1rem;
}
>>>>>>> 5b794e10de949885d60ce9faf5c8d1612138bd73
