.main-content{
	width:100%;
	height: 100%;
	background-color: #c4c4c4;
	position: relative;
}

.page-title h3{
	text-transform: uppercase;
}

.header{
	width:100%;
	height: 100px;
	position: relative;
	left: 0;
	top:0;
	background-color: gray;
	padding-left:15px;
	padding-top:15px;
	box-sizing: border-box;
	border:2px solid black;
}
.content{
	height: 1000px;
}

.text-content{
	background-color: white;
	padding: 5px;
	margin-top: 15px;
	margin-left: 15px;
}